.container {
  display: flex;
align-items: center;
  gap: 20px;
}
.author {
  color: gray;
  font-weight: bold;
}
.user {
  font-weight: 500;
}
.texts{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}