.post {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.postButton {
  padding: 5px 10px;
  background-color: rgb(94, 15, 15);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
